<p id="notice"><%= notice %></p>


<p>
  <strong>Account Name:</strong></br>
  <div><%= "Name:" %> <%= @account.name %></div></br>
  <div><%= "Number:" %> <%= @account.number %></div></br>
  <div><%= "Sort Code:" %> <%= @account.sort_code %></div></br>
  <div><%= "Balance:" %> <%= @account.balance %></div></br>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
